# Python
*.pyc
*.pyo

# Cython
*.c
*.so
*.pyd

# Mac OS X
.DS_Store

# build, dist and egg-info directories
build/
dist/
*.egg-info/

# Backup files
*~

# Jupyter notebook checkpoints
.ipynb_checkpoints/


# 以下、神田追加分

# h5ファイルの除外
*.h5

# vtiファイルの除外
*.vti

# .outファイルの除外
*.out

# .venvファイルの除外
.venv/

tools/test_output/

api.txt
